#main {
    margin-top: 10px;
    margin-left: 5px;
}

.mat-cell, .mat-header-cell {
    padding: 8px 8px 8px 0;
}

#debit-rb {
    margin-left: 4px;
}

#form {
    margin-top: 10px;
}

.credit_card {
    margin-top: -3px;
}

.edit-balance {
    margin-top: -8px;
}