<div id="main" class="row">
    <div class="row">
        <div class="col-sm-6">
            <strong>Saldo Conta Corrente: </strong>
            <span *ngIf="!isGettingBalance">{{balance | currency : 'BRL'}}</span>
            <button *ngIf="!isGettingBalance" (click)="openEditBalance()" mat-icon-button aria-label="Editar" color="primary">
                <mat-icon class="edit-balance">edit</mat-icon>
            </button>
            <span *ngIf="isGettingBalance">carregando saldo...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Poupança/Aplicações: </strong>
            <span *ngIf="!isGettingBalance">{{savings | currency : 'BRL'}}</span>
            <button *ngIf="!isGettingBalance" (click)="openEditBalance()" mat-icon-button aria-label="Editar" color="primary">
                <mat-icon class="edit-balance">edit</mat-icon>
            </button>
            <span *ngIf="isGettingBalance">carregando saldo...</span>
        </div>
    </div>
    <div class="row">
        <mat-tab-group>
            <mat-tab label="Lançamentos futuros">
                <div *ngFor="let month of entriesByMonth" class="row">
                   <div class="col" *ngIf="month.month >= 0 || month.entries.length > 0">
                    <h3>{{month.monthDescription}}</h3>

                    <div>
                        <div class="row header">
                            <div class="col-md-2">Data</div>
                            <div class="col-md-4">Descrição</div>
                            <div class="col-md-2">Valor</div>
                            <div class="col-md-2">Saldo Conta Corrente</div>
                            <div class="col-md-1">Efetivar</div>
                            <div class="col-md-1">Ações</div>
                        </div>
                        <div class="body">
                            <div class="row row-entry" *ngFor="let entry of month.entries">
                                <div class="col-md-2">
                                    <span class="label-mobile">Data:</span>
                                    {{entry.dueDate | date : 'dd/MM/yyyy'}}
                                </div>
                                    <div class="col-md-4">
                                    <span class="label-mobile">Descrição:</span>
                                        <button *ngIf="entry.creditCardId" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                            <mat-icon *ngIf="entry.creditCardId" class="credit_card" (click)="openCardDetails(entry.entries)">credit_card</mat-icon>
                                        </button>
                                          {{entry.description}}
                                          <span *ngIf="entry.showRecurrenceNumber">({{entry.recurrenceNumber}}/{{entry.recurrenceTotal}})</span>
                                    </div>
                                    <div class="col-md-2" [style.color]="entry.type === 'C' ? 'blue' : 'red'">
                                        <span class="label-mobile">Valor:</span>
                                        {{entry.value | currency: 'BRL'}}  {{entry.type}}
                                    </div>
                                    <div class="col-md-2"  [style.color]="entry.prevision >= 0 ? 'blue' : 'red'">
                                        <span class="label-mobile">Saldo Conta Corrente:</span>
                                        {{entry.prevision | currency: 'BRL'}}
                                    </div>
                                    <div class="col-md-1">
                                        <span class="label-mobile">Efetivar:</span>
                                        <button mat-icon-button aria-label="Efetivar" color="primary" (click)="commitEntry(entry, month)">
                                            <mat-icon colo>check_circle_outline</mat-icon>
                                          </button>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="label-mobile">Ações:</span>
                                        <button *ngIf="!entry.creditCardId" (click)="openEditEntry(entry)" mat-icon-button aria-label="Editar" color="primary">
                                            <mat-icon colo>edit</mat-icon>
                                          </button>
                                          <button *ngIf="!entry.creditCardId" (click)="openDeleteDialog(entry)" mat-icon-button aria-label="Excluir" color="primary">
                                            <mat-icon colo>delete</mat-icon>
                                          </button>
                                    </div>
                            </div>
                        </div>
                        <div class="footer">
                           <strong> Total conta corrente + poupanças:</strong> {{month.totalMonth | currency: 'BRL' }}
                        </div>
                    </div>
                   </div>
                </div>

                <div class="row">
                    <button mat-raised-button color="primary" (click)="loadMoreEntries()">Carregar mais</button>
                </div>
            </mat-tab>

            <mat-tab label="Histórico de Lançamentos">
                <app-historic (onEntriesChanged)="refresh()"></app-historic>
            </mat-tab>

            <mat-tab label="Novo lançamento">
                <form id="form" [formGroup]="formGroup" #formDirective="ngForm">
                    <div class="row">
                        <mat-radio-group aria-label="Select an option" formControlName="type">
                            <mat-radio-button value="C">Crédito</mat-radio-button>
                            <mat-radio-button value="D" id="debit-rb" style="margin-left: 4px ;">Débito</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Descrição</mat-label>
                            <input matInput placeholder="Descrição" formControlName="description">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Data</mat-label>
                            <input matInput type="date" placeholder="Data" formControlName="dueDate">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Valor</mat-label>
                            <input matInput currencyMask placeholder="Valor" formControlName="value">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Cartão</mat-label>
                                <mat-select formControlName="creditCardId" (selectionChange)="setInvoices($event.value)">
                                    <mat-option value="">Selecione</mat-option>
                                    <mat-option *ngFor="let card of creditCards" [value]="card._id">
                                        {{card.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Fatura</mat-label>
                                <mat-select formControlName="invoice" placeholder="Selecione">
                                    <mat-option *ngFor="let invoice of invoices" [value]="invoice">
                                        {{invoice | date : 'dd/MM/yyyy'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Recorrência</mat-label>
                                <mat-select formControlName="recurrenceType">
                                <mat-option *ngFor="let recurrence of recurrences" [value]="recurrence.id">
                                    {{recurrence.description}}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Quantidade</mat-label>
                                <input matInput type="number" placeholder="Quantidade" formControlName="recurrenceNumber">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <section class="example-section">
                                <mat-checkbox formControlName="showRecurrenceNumber" class="example-margin">Exibir recorrência na descrição</mat-checkbox>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        <button mat-raised-button color="primary" (click)="save(formDirective)">Salvar</button>
                    </div>
                    </div>
                </form>
            </mat-tab>

            <mat-tab label="Gerenciar Cartões">
                <app-credit-cards></app-credit-cards>
            </mat-tab>

            <mat-tab label="Usuários" *ngIf="isAdmin">
                <app-admin-users></app-admin-users>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<ng-template #deleteManyDialogRef>
    <p>Deseja excluir o registro?</p>
    <button mat-raised-button color="primary" class="dialog-button" (click)="delete(0)">Sim, excluir apenas esse</button>
    <button mat-raised-button color="warn" class="dialog-button" (click)="delete(1)">Sim, excluir todos</button>
    <button mat-raised-button color="secondary" class="dialog-button" (click)="closeDialog()">Não, fechar</button>
</ng-template>

<ng-template #deleteDialogRef>
    <p>Deseja excluir o registro?</p>
    <button mat-raised-button color="warn" class="dialog-button" (click)="delete(0)">Sim, excluir</button>
    <button mat-raised-button color="secondary" class="dialog-button" (click)="closeDialog()">Não, fechar</button>
</ng-template>

<ng-template #creditCardDetailsRef>
    <mat-dialog-content> 
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of cardEntries">
                                    <td class="col">{{entry.purchaseDate | date: 'dd/MM/yyyy'}}</td>
                                    <td class="col"> 
                                        {{entry.description}}
                                        <span *ngIf="entry.showRecurrenceNumber">({{entry.recurrenceNumber}}/{{entry.recurrenceTotal}})

                                        </span>
                                    </td>
                                    <td class="col">{{entry.value | currency: 'BRL'}}</td>
                                    <td class="col">
                                        <button (click)="openEditEntry(entry)" mat-icon-button aria-label="Editar" color="primary">
                                            <mat-icon colo>edit</mat-icon>
                                        </button>
                                        <button (click)="openDeleteDialog(entry)" mat-icon-button aria-label="Excluir" color="primary">
                                            <mat-icon colo>delete</mat-icon>
                                        </button>
                                    </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button style="float: right;" mat-raised-button color="secondary" class="dialog-button" (click)="closeCreditCardDetails()">Fechar</button>
    </mat-dialog-content> 
</ng-template>

<ng-template #editEntryRef>
   
    <form id="form" [formGroup]="formGroupEdition">
        <div *ngIf="entryToEdit.recurrenceId" class="row" style="margin-bottom: 10px;">
            <mat-radio-group aria-label="Select an option" formControlName="updateAll">
                <mat-radio-button value="0">Alterar apenas esse</mat-radio-button>
                <mat-radio-button value="1" class="edit-rb-entry">Alterar todos</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <mat-radio-group aria-label="Select an option" formControlName="type">
                <mat-radio-button value="C">Crédito</mat-radio-button>
                <mat-radio-button value="D" class="edit-rb-entry">Débito</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <input matInput placeholder="Descrição" formControlName="description">
            </mat-form-field>
            <mat-form-field *ngIf="formGroupEdition.value.updateAll == '0'">
                <mat-label>Data</mat-label>
                <input matInput type="date" placeholder="Data" formControlName="dueDate">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Valor</mat-label>
                <input matInput currencyMask placeholder="Valor" formControlName="value">
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="dialog-button" (click)="update()">Salvar</button>
        <button mat-raised-button color="secondary" class="dialog-button" (click)="closeEditEntry()">Fechar</button>
    </form>
</ng-template>

<ng-template #editBalanceRef>
  <form id="form" [formGroup]="formGroupBalance">
    <mat-form-field>
        <mat-label>Saldo</mat-label>
        <input matInput currencyMask placeholder="Saldo" formControlName="newBalance">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Poupanças</mat-label>
        <input matInput currencyMask placeholder="Poupanças" formControlName="newSavings">
    </mat-form-field>
    <mat-checkbox formControlName="createEntry">Gerar lançamento de correção</mat-checkbox>
    <div class="col" style="margin-top: 10px">
        <button mat-raised-button color="primary" class="dialog-button" (click)="updateBalance()">Salvar</button>
        <button mat-raised-button color="secondary" class="dialog-button" (click)="closeEditBalance()">Fechar</button>
    </div>
 </form>
</ng-template>