<button (click)="openModal()" mat-icon-button color="primary">Adicionar Cartao</button>

<table class="table table-striped">
  <thead>
    <th>Nome</th>
    <th>Fechamento</th>
    <th>Vencimento</th>
    <th>Ações</th>
  </thead>
  <tbody>
    <tr *ngFor="let card of creditCards">
      <td>{{ card.name }}</td>
      <td>{{ card.dueDay }}</td>
      <td>{{ card.closingDay }}</td>
      <td>
        <button mat-icon-button aria-label="Editar" color="primary" (click)="openEditModal(card._id)">
          <mat-icon colo>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Excluir" color="primary" (click)="openDeleteModal(card._id)">
          <mat-icon colo>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #createCardsTemplate>
<form name="CreateCard" [formGroup]="formCreateCard" class="createCardForm">

  <mat-form-field>
    <input matInput  type="text" placeholder="Nome do Cartao" formControlName="name" >
  </mat-form-field>

  <mat-form-field>
    <input matInput  type="number" placeholder="Fechamento" min="1" max="30" formControlName="closingDay">
  </mat-form-field>

  <mat-form-field>
    <input matInput  type="number" placeholder="Vencimento" min="1" max="30" formControlName="dueDay">
  </mat-form-field>

  <div class="createCardButtonsDiv">
    <button mat-raised-button color="primary" (click)="createCreditCard()">Adicionar</button>
    <button mat-raised-button color="secondary" (click)="closeModal()">Fechar</button>
  </div>

</form>
</ng-template>

<ng-template #deleteCardsTemplate>
  <p>Deseja excluir o Cartão?</p>
  <button mat-raised-button color="primary" class="dialog-button" (click)="deleteCreditCard()">Sim, excluir este cartão</button>
  <button mat-raised-button color="secondary" class="dialog-button" (click)="closeDeleteModal()">Não, fechar</button>
</ng-template>