<button (click)="createCards()" mat-icon-button color="primary">Adicionar Cartao</button>

<table class="table table-striped">
  <thead>
    <th>Nome</th>
    <th>Fechamento</th>
    <th>Vencimento</th>
  </thead>
  <tbody>
    <tr *ngFor="let card of creditCards">
      <th>{{ card.name }}</th>
      <th>{{ card.dueDay }}</th>
      <th>{{ card.closingDay }}</th>
    </tr>
  </tbody>
</table>


<ng-template #createCardsTemplate>
<form name="CreateCard" [formGroup]="formCreateCard" class="createCardForm">

  <mat-form-field>
    <input matInput  type="text" placeholder="Nome do Cartao" formControlName="name" >
  </mat-form-field>

  <mat-form-field>
    <input matInput  type="number" placeholder="Fechamento" min="1" max="30" formControlName="closingDay">
  </mat-form-field>

  <mat-form-field>
    <input matInput  type="number" placeholder="Vencimento" min="1" max="30" formControlName="dueDay">
  </mat-form-field>

  <div class="createCardButtonsDiv">
    <button mat-raised-button color="primary">Adicionar</button>
    <button mat-raised-button color="secondary">Fechar</button>
  </div>

</form>
</ng-template>