.createCardForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start ;
    flex-shrink: 0;
    flex-grow: 1;
    gap: 2rem;


    & > .createCardButtonsDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        flex-grow: 1;
        gap: 1rem;
    }
}

.createCardFieldset{


    & > span {
        color: #555;
    }
}