<div *ngFor="let month of entriesByMonth" class="row">
    <div class="col" *ngIf="month.month >= 0 || month.entries.length > 0">
     <h3>{{month.monthDescription}}</h3>

     <div>
        <div class="row header">
            <div class="col-md-3">Data</div>
            <div class="col-md-4">Descrição</div>
            <div class="col-md-4">Valor</div>
            <div class="col-md-1">Ações</div>
        </div>
     </div>
     <div class="body">
        <div class=" row row-historic" *ngFor="let entry of month.entries">
            <div class="col-md-3">
                <span class="label-mobile">Data</span>
                {{entry.dueDate | date : 'dd/MM/yyyy'}}</div>
                <div class="col-md-4">
                <span class="label-mobile">Descrição</span>
                <button *ngIf="entry.creditCardId" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon *ngIf="entry.creditCardId" class="credit_card" (click)="openCardDetails(entry.entries)">credit_card</mat-icon>
                </button>
                {{entry.description}}
                <span *ngIf="entry.showRecurrenceNumber">({{entry.recurrenceNumber}}/{{entry.recurrenceTotal}})</span>
            </div>
            <div class="col-md-4" [style.color]="entry.type === 'C' ? 'blue' : 'red'"> 
                <span class="label-mobile">Valor</span>
                {{entry.value | currency: 'BRL'}}  
                {{entry.type}}
            </div>
            <div class="col-md-1">
                <span class="label-mobile">Ações</span>
                <button *ngIf="!entry.creditCardId" (click)="openDeleteDialog(entry)" mat-icon-button aria-label="Excluir" color="primary">
                    <mat-icon colo>delete</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="month.entries.length === 0">
            Nenhum registro encontrado
        </div>
     </div>
        <div class="footer">
         <div>
             <span class="show-footer">Entradas mês:</span>
             <span [style.color]="'blue'">
                 {{month.totalCredit | currency: 'BRL'}}
             </span>
         </div>
         <div>
            <span class="show-footer">Saidas mês:</span>
            <span [style.color]="'red'">
                {{month.totalDebit | currency: 'BRL'}}
            </span>
        </div>
        <div>
            <span class="show-footer">Saldo mês:</span>
            <span [style.color]="month.balance>= 0 ? 'blue' : 'red'">
                {{month.balance | currency: 'BRL'}}
            </span>
        </div>
     </div>
    </div>
    </div>
    <div id="loadMoreDiv" class="row">
        <button mat-raised-button color="primary" (click)="loadMoreEntries()">Carregar mais</button>
    </div>
    <ng-template #deleteManyDialogRef>
        <p>Deseja excluir o registro?</p>
        <button mat-raised-button color="primary" class="dialog-button" (click)="delete(0)">Sim, excluir apenas esse</button>
        <button mat-raised-button color="warn" class="dialog-button" (click)="delete(1)">Sim, excluir todos</button>
        <button mat-raised-button color="secondary" class="dialog-button" (click)="closeDialog()">Não, fechar</button>
    </ng-template>

    <ng-template #deleteDialogRef>
        <p>Deseja excluir o registro?</p>
        <button mat-raised-button color="warn" class="dialog-button" (click)="delete(0)">Sim, excluir</button>
        <button mat-raised-button color="secondary" class="dialog-button" (click)="closeDialog()">Não, fechar</button>
    </ng-template>
    
    <ng-template #creditCardDetailsRef>
        <mat-dialog-content> 
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <th>Data</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th **ngIf="false">Ações</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entry of cardEntries">
                                <td>{{entry.purchaseDate | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    {{entry.description}}
                                    <span *ngIf="entry.showRecurrenceNumber">({{entry.recurrenceNumber}}/{{entry.recurrenceTotal}})</span>
                                </td>
                                <td class="col">{{entry.value | currency: 'BRL'}} {{entry.type == 'C' ? '(Crédito)' : ''}}</td>
                                <td *ngIf="false">
                                    <button (click)="openEditEntry(entry)" mat-icon-button aria-label="Editar" color="primary">
                                        <mat-icon colo>edit</mat-icon>
                                    </button>
                                    <button (click)="openDeleteDialog(entry)" mat-icon-button aria-label="Excluir" color="primary">
                                        <mat-icon colo>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <button style="float: right;" mat-raised-button color="secondary" class="dialog-button" (click)="closeCardDetailsDialog()">Fechar</button>
        </mat-dialog-content> 
    </ng-template>