<div class="container" [formGroup]="formGroup">
  <div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-5 align-center">
      <div class="row">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" placeholder="Senha" formControlName="password">
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" (click)="login()">Entrar</button>
      </div>
    </div>
  </div>
</div>