/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
    width: 100%;
}

// .mat-tab-body-content { overflow: hidden!important;}

.dialog-button {
     margin-right: 4px !important; 
}

html, .mat-tab-body-content {
    overflow-x: hidden !important;
    padding-bottom: 2rem;
}